* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img,
video,
svg,
iframe {
  max-width: 100%;
}

.container {
  max-width: 900px;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
}
