* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.product {
  margin: 0 auto;
  max-width: 750px;
}

.product-price {
  font-size: 200%;
}

.product-title {
  font-size: 200%;
}

.tabs {
    border: 1px solid black;
    padding: 10px;
}

.tabs-dest {
    list-style: none;
    padding: 0;
}

.tab-dest>li{
    display: none;
}