* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

div {
  width: 5em;
  height: 5em;
  color: white;
}

.red-box {
  background-color: red;
}

.blue-box {
  background-color: blue;
  padding: 1em;
}
